.container{
    margin: 0 5vw;
}

.add-button{
    height: 30px;
    margin: 0 5px;
    background-color: #63b5874b;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin: 0;
}

.add-button:hover{
    cursor: pointer;
    background-color: #63b58798;
}

.costs_table{
    margin-bottom: 30px;
}

.el-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.el-form-item__content{
    margin-left: 0 !important;
    align-items: flex-start;
    text-align: left;
}

.pagination{
    margin-bottom: 20px;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #63b5874b !important;
    color: #606266 !important;
}

.el-pagination.is-background .el-pager li:not(.disabled).active:hover {
    color: #606266 !important;
    cursor: pointer;
    background-color: #63b58798 !important;;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
     color: #63b58798 !important;
}


.total-value{
    margin-bottom: 20px;
    font-size: 20px !important;
}